body {
    background-color: rgb(240, 240, 240);
    color: rgb(40, 40, 40);
    text-align: center;

    padding-top: 80px;/*Ces 2 lignes permettent de placer tout le body juste en dessous la nav*/
    margin: 0;

    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
}

nav {
    background-color: rgb(240, 240, 240);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /*Petite ombre (de 4px) en dessous la nav*/
    position: fixed; /*Reste au même endroit sur la page*/
    display: flex; /*Aligne les éléments*/
    top: 0; /*Tout en haut*/
    gap: 10px; /*Met un gap entre chaque child*/
    width: 100%;
    height: 80px;
    z-index: 1000; /*Place au dessus tout*/
}

#site {
    position: relative;
    left: 20px;
    width: 25%;
    display: flex; /*Aligne les éléments*/
    align-items: center; /*Aligne sur l'axe principal (vertical)*/
}

#navbar {
    width: 50%;
    display: flex; /*Aligne les éléments*/
    align-items: center; /*Aligne sur l'axe principal (vertical)*/
    justify-content: center; /* centre verticalement */
    gap: 10px;
}

#account {
    position: relative;
    right: 20px;
    width: 25%;
    display: flex; /*Aligne les éléments*/
    align-items: center; /*Aligne sur l'axe principal (vertical)*/
    justify-content: flex-end; /* centre verticalement */
}

#titre {
    background-color: rgb(40, 40, 40);
    color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column; /* empile verticalement */
    justify-content: center; /* centre verticalement */
    height: 50vh;
    font-family: "Quicksand", sans-serif;
}

#desc {
    padding: 0 25%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#bottom {
    background-color: rgb(220, 215, 200);
    position: absolute;
    display: flex;
    align-items: center; /*Aligne sur l'axe principal (vertical)*/
    justify-content: center; /* centre verticalement */
    bottom: 0;
    width: 100%;
    height: 80px;
    gap: 20px;
}

h1 {
    font-size: 4em;
}

hr {
    border: none;
    width: 80%;
    height: 2px;
    background-color: rgb(40, 40, 40);
    margin-top: 2em;
    margin-bottom: 2em;
}

button {
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: rgb(240, 240, 240);
    border: 1px solid rgb(40, 40, 40);
    cursor: pointer;
}