body {
    background-color: rgb(240, 240, 240);
    color: rgb(40, 40, 40);
    text-align: center;

    padding-top: 80px;/*Ces 2 lignes permettent de placer tout le body juste en dessous la nav*/
    margin: 0;

    font-family: "Source Sans 3", sans-serif;
}

nav {
    background-color: rgb(240, 240, 240);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /*Petite ombre (de 4px) en dessous la nav*/
    position: fixed; /*Reste au même endroit sur la page*/
    top: 0; /*Tout en haut*/
    display: flex; /*Aligne les éléments*/
    align-items: center; /*Aligne sur l'axe principal (vertical)*/
    padding: 0 20px; /*Met un blanc à gauche et à droite de 20px (et de 0 en haut et en bas)*/
    gap: 10px; /*Met un gap entre chaque child*/
    width: 100%;
    height: 80px;
    z-index: 1000; /*Place au dessus tout*/
}

h1 {
    font-size: 4em;
}

#titre {
    background-color: rgb(40, 40, 40);
    color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column; /* empile verticalement */
    justify-content: center; /* centre verticalement */
    height: 50vh;
    font-family: "Quicksand", sans-serif;
}